* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
svg {
  width: 30px;
  height: 30px;
}
body {
  background-color: rgba(255, 195, 97);
  background-color: rgb(24, 24, 24);
}
